
<form [formGroup]="customerForm" (ngSubmit)="addCustomer()">
  <table>
    <tr>
      <th>Customer</th>
      <th>Contract No</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>
        <input
          name="customer"
          type="textfield"
          required
          formControlName="name"
        >
      </td>
      <td>
        <input
          name="contractNo"
          type="number"
          required
          formControlName="contractNo"
        >
      </td>
      <td><button type="submit">add</button></td>
    </tr>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.name }}</td>
      <td>{{ customer.contractNumber }}</td>
      <td></td>
    </tr>
  </table>
</form>
